*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: #101010;
    color: white;
    font-size: 100%;
    line-height: 1.5em;
}
#registerBox
{
    background-color: #050505;
    width: 25%;
    height: 25%;
    margin: 25vh auto;
    text-align: center;
    position: relative;
    border-radius: 25px;
}
#registerBox h1
{
    font-size: 1.2em;
    padding-top: 10%;
}
#usernameBox
{
    width: 50%;
    background-color: black;
    color: white;
    border: solid 1px grey;
    border-radius: 25px;
    padding: .2em .3em;
    margin: 10% 0;
}
#chatBox
{
    background-color: #050505;
    width: 95%;
    height: 75vh;
    margin: 1% auto 1% auto;
    padding: 1%;
    border-radius: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#chatForm
{
    width: 100%;
    text-align: center;
}
#msgBoxInput
{
    width: 75%;
    background-color: black;
    color: white;
    border: solid 1px grey;
    border-radius: 25px;
    padding: .2em .3em;
    margin-bottom: 2%;
}
.msg
{
    width: 100%;
    text-align: left;
}
.user
{
    color: #44D92D;
}
.btn
{
    background-color: white;
    color: black;
    border: solid 1px grey;
    width: 4.5em;
    height: 1.5em;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
}
a.btn
{
    display: block;
    text-decoration: none;
}
/*
* @keyframes dissapear
* {
*     to
*     {
*         opacity: 0;
*         visibility: hidden;
*     }
*
* }
*/
#welcome
{
     /* Safari */
    -webkit-user-select: none;
     /* Firefox */
    -moz-user-select: none;
     /* IE10+/Edge */
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    padding: 2% 0 0 0;
    text-align: center;
    /* animation-name: dissapear; */
    /* animation-duration: 4s; */
    /* animation-fill-mode: forwards; */
}
.error
{
    color: #FF9185;
    display: inline-block;
    width: 100%;
    text-align: center;
}
noscript
{
    color: black;
    display: block;
    background-color: #FFAAAA;
    border: solid #AA3939 3px;
    margin: 10% auto -8% auto;
    padding: 1em;
    font-size: 1.2em;
    width: 25%;
    text-align: center;
}
@media only screen and (max-width: 970px)
{
    noscript
    {
        width: 100%;
        text-align: center;
    }
    #registerBox
    {
        width: 90%;
        height: 50%;
    }
    #usernameBox
    {
        width: 75%;
    }
    #chatBox
    {
        padding: 4%;
        height: 75vh;
    }
}
